/* header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden; 
}
.lloging {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3748;
    height: 70px;
    padding: 5px 20px;
    width: 100%;
    border-bottom: 2px solid #030407;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 101;
}
.lloging  p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
  }


h1.logoHP {
  margin: 0;
  padding: 0;
  text-transform:uppercase;
  color: #fff;
  font-size: 2.5em;
}

/* body */
.mainContent{
    background-color: #90cdf4;
}
/* common */
.card-listh1{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    padding: 50px 0 10px 30px;
    margin: 0;
    max-height: 5em;
    font-weight: 700;
  }
/* common */
.card-list{
    margin: 0 150px;
    display: flex;
    flex-wrap: wrap;
    max-height: 220px;
    overflow-y: scroll;
}
.card{
    height:100px;
    width: 250px;
    border:2px solid #ccc;
    background-color: #edf2f7;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* footer */
.footer {
    width: 100%;
    
    background-color: #2d3748; 
    color: #edf2f7; 
    padding: 10px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-top: 3px solid rgb(9, 47, 85);
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-content .footer-section {
    margin: 10px 0;
    flex: 1;
    min-width: 250px;
}

.footer-content .footer-section h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-content .footer-section p {
    margin: 5px 0;
}

.footer-content .footer-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-content .footer-section ul li {
    margin: 5px;
}

.footer-content .footer-section ul li a {
    color: #63b3ed;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content .footer-section ul li a:hover {
    color: #90cdf4;
}

.footer-content .copy {
    font-size: 0.9rem;
    margin-top: 10px;
    flex-basis: 100%;
}


::-webkit-scrollbar {
    width: 5px; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media (max-width: 600px) {
    .lloging {
        display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #2d3748;
          height: 40px;
          padding: 5px 20px;
          width: 100%;
          border-bottom: 2px solid #030407;
          position: sticky;
          top: 0;
          left: 0;
          z-index: 101;
      }
    h1.logoHP {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.5em;
      }
      .card-listh1{
        letter-spacing: .15em;
        font-size: 1.2em;
        padding: 10px 10px;
      }
    .card-list{
        margin: 0 10px;
        display: flex;
        flex-wrap: wrap;
        max-height: 160px;
        overflow-y: scroll;
    }
    .card{
        height:auto;
        min-height: 60px;
        width: 150px;
        border:2px solid #ccc;
        background-color: #edf2f7;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        text-align: center;

    }
    footer{
        width: 100%;

    }
    .footer-content .footer-section h4 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    ::-webkit-scrollbar {
      display: none;
  }
}

